@import "variables"

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

body
  font-family: roboto, sans-serif
  font-size: 16px
  line-height: 1.4
  color: $black
  background-color: $background-color


  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.form-row
  position: relative

form ul, ol
  list-style: none
  display: inline


h2
  color: $white

p
  text-align: justify


a
  color: $third-color
  text-decoration: none

.input-select-height
  height: 35px

select
    border-radius: 0px


label
  position: relative
  display: inline

li input
  position: relative


li.radio
  display: inline
  position: relative
  margin-right: 15px



input[type=radio]
  visibility: hidden

.radio input + label::before
  content: url('../img/icons/circle-regular.svg')
  width: 15px
  height: 15px
  position: absolute
  left: -19px


.radio input:checked + label::before
  content: url('../img/icons/dot-circle-solid.svg')
  color: $third-color

.radio input:hover + label::before
  content: url('../img/icons/circle-regular-hover.svg')
