@import "variables"

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

body
  font-family: roboto, sans-serif
  font-size: 16px
  line-height: 1.4
  color: $black
  background-color: $background-color
  margin: 0 auto
  //max-width: 1024px


ul, ol
  list-style: none

li
  padding: 8px

h2
  color: $white

p
  text-align: justify


a
  color: $third-color
  text-decoration: none


html
  margin: 0 auto
