@import "variables"

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

body
  font-family: roboto, sans-serif
  font-size: 16px
  line-height: 1.4
  color: $black
  background-color: $background-color


  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


ul, ol
  list-style: none

//li
//  padding: 8px

h2
  color: $white

p
  text-align: justify


a
  color: $third-color
  text-decoration: none

select
    border-radius: 0px
