@import "variables"
.calculator-section
  margin-top: 40%


.model-preview-car-details-page
  position: relative
  width: 100%
  height: 139px
  color: white
  text-align: center
  background-image: linear-gradient(to right bottom, $third-color, $third-color)
  clip-path: polygon(0 0, 100% 0, 100% 9vh, 0 100%)
  padding: 10px

.car-details-title
  margin-top: 20px

.car-details-type
  color: $black
  margin-top: 20px
  font-weight: bold

.modal-car-details-image
  width: 100%
  height: 177px
  position: relative
  z-index: -1
  bottom: 50%
  top: -34px

.modal-car-details-image img
  position: relative
  width: 100%
  height: 177px
  object-fit: cover

.modal-text-box
  position: relative
  width: 100%
  height: 200px
  padding: 15px
  top: -30px

.description-special::before
  display: inline-block
  content: url("../img/icons/right-black-arrow.svg")
  color: $third-color


.description-bold
  font-weight: bolder
  margin-bottom: 2px
  margin-top: 30px

.description-bold-special
  margin-top: 20px
  font-weight: bolder

.description-margin
  margin-bottom: 20px


.calculator-block
  position: relative
  width: 100%
  background-color: $background-color-calculator
  //top: -500px


.calculator-block-price
  //text-align: center
  display: flex
  justify-content: center
  align-items: center
  padding: 30px 0


h1.heading-calc
    font-weight: bolder
    padding: 10px


.calculator-form
  position: relative
  padding: 30px 0
  width: 100%

.txt-form-personal
  padding: 30px 0

h1.txt-form-personal
  font-size: 39px


.container-leaseamount
  text-align: center
  position: relative
  padding: 40px


.txt-leaseamount
  text-align: center

.form-row
  padding: 4px


h1.txt-form-personal::before
  content: url("../img/icons/right-black-arrow.svg")
  font-size: 65px
  font-weight: bolder
  margin-right: -10px

.bg-light-gray
    background-color: $background-color-calculator

select.bg-light-gray
  background-color: $light-gray


