* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

ul, ol {
  list-style: none; }

h2 {
  color: #ffffff; }

p {
  text-align: justify; }

a {
  color: #32ac95;
  text-decoration: none; }

select {
  border-radius: 0px; }

nav.navbar-autoshop {
  background-color: #32ac95; }

.top-container {
  padding-right: 0;
  padding-left: 0; }

.logo {
  max-width: 200px; }

.heading-primary {
  text-align: center;
  width: 98%;
  margin-top: 2%; }

.heading-primary-main {
  display: block;
  font-size: 30px;
  font-weight: bolder;
  line-height: 1.7;
  padding: 3% 1%; }

.heading-primary-sub {
  font-size: 18px;
  text-align: center; }

.footer {
  position: sticky;
  width: 100%;
  height: 20%;
  background-color: #616161;
  color: #ffffff;
  bottom: 0;
  z-index: 2000; }

.footer-email::before {
  content: url("../img/icons/at-solid.svg"); }

.footer-phonenumber::before {
  content: url("../img/icons/telephone.svg"); }

.footer-address::before {
  content: url("../img/icons/map-signs-solid.svg"); }

.about-social-icons {
  display: inline-block;
  height: 30px;
  width: 30px; }

span.contact-address-row {
  display: block; }

.contact-address-row::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: " ";
  vertical-align: middle;
  margin-right: 9px; }

.footer-email::before, .footer-phonenumber::before, .footer-address::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 9px; }

.calculator-section {
  margin-top: 40%; }

.model-preview-car-details-page {
  position: relative;
  width: 100%;
  height: 139px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right bottom, #32ac95, #32ac95);
  clip-path: polygon(0 0, 100% 0, 100% 9vh, 0 100%);
  padding: 10px; }

.car-details-title {
  margin-top: 20px; }

.car-details-type {
  color: #000000;
  margin-top: 20px;
  font-weight: bold; }

.modal-car-details-image {
  width: 100%;
  height: 177px;
  position: relative;
  z-index: -1;
  bottom: 50%;
  top: -34px; }

.modal-car-details-image img {
  position: relative;
  width: 100%;
  height: 177px;
  object-fit: cover; }

.modal-text-box {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 15px;
  top: -30px; }

.description-special::before {
  display: inline-block;
  content: url("../img/icons/right-black-arrow.svg");
  color: #32ac95; }

.description-bold {
  font-weight: bolder;
  margin-bottom: 2px;
  margin-top: 30px; }

.description-bold-special {
  margin-top: 20px;
  font-weight: bolder; }

.description-margin {
  margin-bottom: 20px; }

.calculator-block {
  position: relative;
  width: 100%;
  background-color: #ececec;
  top: -225px; }

.calculator-block-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0; }

h1.heading-calc {
  font-weight: bolder;
  padding: 10px; }

.calculator-form {
  position: relative;
  padding: 30px 0;
  width: 100%; }

.txt-form-personal {
  padding: 30px 0; }

h1.txt-form-personal {
  font-size: 39px; }

.container-leaseamount {
  text-align: center;
  position: relative;
  padding: 40px; }

.txt-leaseamount {
  text-align: center; }

.form-row {
  padding: 4px; }

h1.txt-form-personal::before {
  content: url("../img/icons/right-black-arrow.svg");
  font-size: 65px;
  font-weight: bolder;
  margin-right: -10px; }

.bg-light-gray {
  background-color: #ececec; }

select.bg-light-gray {
  background-color: #d2d2d2; }

.btn-green {
  background-color: #32ac95;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
  width: 233px;
  font-size: 14px;
  z-index: 10;
  text-align: left;
  padding: 5px;
  margin-bottom: 20px; }

.container-wrapper {
  flex: 1 0 auto; }

.model-box {
  width: 100%; }

.model-preview-block {
  position: relative;
  width: 100%;
  margin-bottom: 73px; }

.model-preview-block-middle {
  position: relative;
  width: 100%; }

.model-box-index-large {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 257px;
  color: #ffffff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 20; }

.model-box-index-small {
  padding: 10px;
  height: 200px;
  text-align: center;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  z-index: 20; }

.model-box-index-large-first {
  background-image: linear-gradient(to right bottom, #77a09e, #77a09e); }

.model-box-index-large-last {
  background-image: linear-gradient(to right bottom, #32ac95, #32ac95); }

.model-box-index-small-middle {
  /* center model-preview-index-small */
  -ms-transform: translateY(-50%);
  transform: translateY(9%);
  background-image: linear-gradient(to right bottom, #79b2ac, #79b2ac);
  height: 177px;
  justify-content: center;
  align-items: center; }

.model-title {
  display: inline-block; }

.model-type {
  margin-bottom: 10px; }

.model-description {
  margin-bottom: 10px; }

.model-price {
  margin-bottom: 15px; }

.model-image {
  width: 233px;
  height: 177px;
  position: relative;
  z-index: 0;
  bottom: 50%;
  top: 225px; }

.model-image-large img {
  position: relative;
  width: 100%;
  top: -60px;
  z-index: 1;
  object-fit: cover; }

.model-image-small img {
  position: relative;
  width: 100%;
  height: 195px;
  top: -19px;
  z-index: -30;
  margin-bottom: 50px;
  object-fit: cover; }

/*# sourceMappingURL=main.css.map */
