* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0 auto; }

ul, ol {
  list-style: none; }

h2 {
  color: #ffffff; }

p {
  text-align: justify; }

a {
  color: #32ac95;
  text-decoration: none; }

nav.navbar-autoshop {
  background-color: #32ac95; }

.logo {
  max-width: 200px; }

.heading-primary {
  text-align: center;
  width: 98%;
  margin-top: 2%; }

.heading-primary-main {
  display: block;
  font-size: 30px;
  font-weight: bolder;
  line-height: 1.7;
  padding: 3% 1%; }

.heading-primary-sub {
  font-size: 18px;
  text-align: center; }

.calculator-section {
  margin-top: 40%; }

.model-preview-car-details-page {
  position: relative;
  width: 100%;
  height: 139px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right bottom, #32ac95, #32ac95);
  clip-path: polygon(0 0, 100% 0, 100% 9vh, 0 100%); }

.car-details-title {
  margin-top: 20px; }

.car-details-type {
  color: #000000;
  margin-top: 20px;
  font-weight: bold; }

.modal-car-details-image {
  width: 100%;
  height: 177px;
  position: relative;
  z-index: -1;
  bottom: 50%;
  top: -34px; }

.modal-car-details-image img {
  position: relative;
  width: 100%;
  height: 177px; }

.modal-text-box {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 15px; }

.description-special::before {
  display: inline-block;
  content: url("../img/icons/right-black-arrow.svg");
  color: #32ac95; }

.description-bold {
  font-weight: bolder; }

.description-bold-special {
  margin-top: 20px;
  font-weight: bolder; }

.description-margin {
  margin-bottom: 20px; }

.calculator-block {
  position: relative;
  width: 100%;
  background-color: #ececec;
  top: -200px; }

.btn-green {
  background-color: #32ac95;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
  width: 233px;
  font-size: 14px;
  z-index: 10;
  text-align: left;
  padding: 5px;
  margin-bottom: 20px; }

.model-box {
  width: 100%; }

.model-preview-block {
  position: relative;
  width: 100%; }

.model-preview-block-middle {
  position: relative;
  width: 100%; }

.model-box-index-large {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 257px;
  color: #ffffff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 20; }

.model-box-index-small {
  padding: 10px;
  height: 200px;
  text-align: center;
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  z-index: 20; }

.model-box-index-large-first {
  background-image: linear-gradient(to right bottom, #77a09e, #77a09e); }

.model-box-index-large-last {
  background-image: linear-gradient(to right bottom, #32ac95, #32ac95); }

.model-box-index-small-middle {
  /* center model-preview-index-small */
  -ms-transform: translateY(-50%);
  transform: translateY(9%);
  background-image: linear-gradient(to right bottom, #79b2ac, #79b2ac);
  height: 250px;
  justify-content: center;
  align-items: center; }

.model-title {
  display: inline-block; }

.model-type {
  margin-bottom: 10px; }

.model-description {
  margin-bottom: 10px; }

.model-price {
  margin-bottom: 15px; }

.model-image {
  width: 233px;
  height: 177px;
  position: relative;
  z-index: 0;
  bottom: 50%;
  top: 225px; }

.model-image-large img {
  position: relative;
  width: 100%;
  top: -60px;
  z-index: 1; }

.model-image-small img {
  position: relative;
  width: 100%;
  height: 240px;
  top: -45px;
  z-index: -30; }

/*# sourceMappingURL=main.css.map */
